STUFF FROM URLS INDEX

    <!-- <% urls.forEach(function(shorten) { %>
        <li><%= shorten.long %> - <%= shorten.short %></li>
    <% }) %> -->

    <!-- var years = [yr1, yr2, yr3, yr4];

years.forEach(function(i) {
    df.appendChild(createYearOption(i));
});
Is equivalent to:

for(var i=0; i<years.length; i++) {
  df.appendChild(createYearOption(years[i]));
} -->