<h1 style=" font-size: 72px; padding-left: 5px;
    background: -webkit-linear-gradient(#ffafbd, #ffc3a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">TinyApp</h1>


